.about {
  padding: 5%;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
}
.icon {
  display: inline-block;
  font-size: 2em;
}
.icon-link {
  color: white;
  font-size: 13px;
}
.icon-link:hover {
  text-decoration: none;
  color: white;
}

.icon:not(.last) {
  margin-right: 4%;
}
.mission,
.contact {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 5%;
  border-radius: 10px;
  flex: 0 0 50%;
}
.mission {
  margin-right: 5%;

}
.mission__header {
  text-align: center;
  margin-bottom: 4%;
}
.mission__title, .contact__title {
  font-size: 1.1em;
  font-weight: bold;
}

.mission__body {
  font-size: .9em;
}
.contact__header {
  text-align: center;
  margin-bottom: 25px;
}
.contact__body {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  .mission {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
