/* styling the range input */
input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 3;
  height: 19px;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}
/* This app does not intentionally support IE browsers, so this section has been commented out */
/*
  input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
  }

  input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
  }
  input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
  }
*/

/* End */

.m-audio-player {
  --seek-before-width: 0%;
  --buffered-width: 0%;
  padding: 1%;
  border: 1px solid #ededed;
  box-shadow: 0 0 5px #ededed;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:110;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s;
}
.m-audio-player__header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.m-audio-player__minimize {
  height: 50px;
}
.m-audio-player__controls-wrapper {
  flex: 0 0 160px;
}

.m-audio-player__album-art-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
/* Turn off rotation animation when no audio is playing */
.m-audio-player[data-playing-state=false]  .m-audio-player__album-art {
  animation: none;
}
.m-audio-player__album-art {
  background-image: url(../images/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 200px;
  border: 5px solid #ededed;
  border-radius: 50%;
  animation: loading-spinner 5s linear infinite;
}

.m-audio-player__current-track-name {
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-bottom: 5px;
}

.m-audio-player__seek-slider-container {
  padding: 1%;
}
.m-audio-player__seek-slider {
  width: 100%;
}

.m-audio-player__seek-slider:focus {
  outline: none;
}
.m-audio-player__time {
  display: flex;
}
.m-audio-player__played-time {
  margin-right: auto;
}
.m-audio-player__played-time, .m-audio-player__duration {
  font-size: .8em;
  display: inline-block;
}

.m-audio-player__controls {
  text-align: center;
}
.m-audio-player__minimize {
     width: 60px;
}

.m-audio-player__prev,
.m-audio-player__play,
.m-audio-player__next {
  display: inline-block;
  margin-right: 3%;
}

.m-audio-player__play {
  position: relative;
  z-index: 0;
}
.m-audio-player__prev-btn,
.m-audio-player__play-btn,
.m-audio-player__next-btn {
  cursor: pointer;
  vertical-align: baseline;
}

.m-audio-player__play--is-loading::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  border: 4px solid transparent;
  margin: auto;
  border-top: 4px solid #519259;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: loading-spinner 1s ease infinite;
}

.m-audio-player--is-minimized .m-audio-player__minimize,
.m-audio-player--is-minimized .m-audio-player__progress,
.m-audio-player--is-minimized .m-audio-player__prev,
.m-audio-player--is-minimized .m-audio-player__next {
  display: none;
}

.m-audio-player.m-audio-player--is-minimized {
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 50px;
  flex-direction: row;
  transition: all .5s;
}

/* There are only two elements that I align here ie: audio-header, audio controls */
.m-audio-player--is-minimized .m-audio-player__header {
  flex-direction: row;
  /* Occupy the full height of audio-player */
  height: 50px;
  flex: 2 1 auto;
}

/* align elements in this sub element */
.m-audio-player--is-minimized .m-audio-player__album-art-wrapper {
  flex: 0 0 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.m-audio-player--is-minimized .m-audio-player__current-track-name {
  align-self: auto;
  text-align: left;
  margin: 0;
  flex: 1 1 auto;
}
.m-audio-player--is-minimized .m-audio-player__controls-wrapper {
  flex: 0 0 40px;
}


.m-audio-player--is-minimized .m-audio-player__album-art {
  width: 100%;
  height: 100%;
  border-radius: 0;
  animation: none;
}


.m-audio-player__play--is-loading .m-audio-player__play-btn {
  visibility: hidden;
}

.m-audio-player__prev-btn, .m-audio-player__next-btn, .m-audio-player__play-btn {
  font-size: 32px;
}

.m-audio-player__play-btn {
  font-size: 37px;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
