.navigation-overlay {
  display: none;
}
.a2hs-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  z-index: 1500;
  overflow: hidden;
  display: none;
  align-items: center;
  justify-content: center;
}

.a2hs {
  flex: 0 0 auto;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 5px;
  position: relative;
  width: 50vw;

}
.a2hs__body {
  padding: 20px;
  display: flex;
}

.a2hs__img {
  flex: 0 0 100px;
  margin-right: 10px;
  width: 50%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.a2hs__close {
  text-align: right;
  margin-bottom: 5px;
}

.a2hs__close-btn {
  padding: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
}
.search-form {
  flex: 3 1 auto;
  text-align: right;
  margin-right: 9px;
  position: relative;
}

.search-form__input {
  padding-right: 13px;
  padding-left: 13px;
  width: 90%;
}
.search-form__input,
.search-form__input::placeholder {
  font-size: 15px;
}
.search-form__input::placeholder {
  text-overflow: ellipsis;
}
.search-form__btn-submit {
  position: absolute;
  top: 21%;
  right: 9px;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search-form__btn-submit:focus {
  outline: none;
}
.mobile-signin-btn {
  display: none;
}
.nav-icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 3px;
  color: gray;
}
.m-nav__item--is-active .nav-icon {
  color: white;
}

.user-profile {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.navigation {
  border: 1px solid #ededed;
}
.navigation__menu {
  margin-right: auto;
}
/* Media components used  to represent the artist and the songs */

.media.artist {
  border-radius: 10px;
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

.artist__image {
  background-image: url(../images/placeholder-loading.gif);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

 .media {
   height: 120px;
   border: 1px solid #ededed;
   box-shadow: 3px 3px 4px #ededed;
 }
 .media__name {
   font-size: 1em;
 }

.artist__name {
  padding: 5px;
}

.media__image {
  height: 100%;
  width: 35%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.media__link {
  color: black;
}
.media__link:hover {
  text-decoration: none;
  color: black;
}

.track__album-art {
  margin-right: 10px;
  background-image: url(../images/music.png);
}
.track__name {
  margin-top: 5px;
}
.track__listens {
  font-size: .7em;
  color: gray;
}

.template {
  /* Templates are invisible */
  display: none;
}

/* Footer styles */
.page-footer {
  width: 100vw;
  display: flex;
  border-top: 2px solid #ededed;
  padding: 3%;
}
.page-footer img {
  width: 25px;
  height: 25px;
}
.domain-contact {
  flex: 1 1 auto;
}

.domain-contact__title {
  font-size: 1em;
  font-weight: bold;
}
.copyright {
  font-size: .8em;
  margin-top: 5px;
}
.developer-info {
 flex: 1 1 auto;
}
.developer-info__title {
  font-size: 1em;
  font-weight: bold;
}

.developer-info__name {
  font-size: .85em;
}

.attribution {
  flex: 1 1 auto;
  font-size: .9em;
}
.attribution__title {
  font-size: 1.2em;
  font-weight: bold;
}
/* Mobile navigation overlay- 768px is the breakpoint used in reuse.css for mobile devices */
@media screen and (max-width: 768px) {
  body[data-nav-open=true] .navigation-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    display: block;
    z-index: 30;
    overflow: hidden;
  }
  /* For mobile nav, Use an icon instead of a text button */
  button.desktop-signin-btn {
    display: none;
  }
  /* display the icon */
  .mobile-signin-btn {
    display: block;
    padding: 1px;;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  .mobile-signin-btn__img {
    width: 40px;
    height: 40px;
  }
  .mobile-signin-btn:focus {
    outline: none;
  }
  .a2hs {
    width: 90vw;
  }

}
@media screen and (max-width: 850px) {
  .page-footer {
    flex-direction: column;
  }
  .domain-contact {
    margin-bottom: 20px;
  }

}
