.artist {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.img-slide {
  width: 100vw;
  margin: 0;
  position: relative;
  background-image: url(../images/headphones_large.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
}
.cta-message {
  font-size: 1.5em;
  color: white;
}

.top {
  padding: 5%;
}

.top-artists {
   margin-top: 20px;
}

.top-artists[data-loading="true"] .top-artists__body,
.top-tracks[data-loading="true"] .top-tracks__body {
  min-height: 50px;
  background-image: url(../images/loading.gif);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.top-tracks {
 margin-top: 40px;
}
.top-artists__body {
  white-space: nowrap;
  overflow: auto;
}

.article__footer {
 padding: 10px;
 border-top: 1px solid #ededed;
 text-align: right;
}

#audio-player {
   /* override the margin settings in the audio-player.css */
   margin: 5% 0 auto 0 !important;
 }

 @media screen and (max-width: 600px) {
   .cta-message {
     font-size: 1.3em;
   }
 }
