main {
  padding: 5%;
  margin-bottom: 100px;
}
body {
  position: relative;
  overflow-x: hidden;
  z-index: -2;
}

#audio-player {
  margin-right: 5%;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
}


.singers[data-loading="true"] .loading {
  min-height: 50px;
  background-image: url(../images/loading.gif);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.singer__name {
  margin-top: 5px;
}
.singer__image {
  margin-right: 10px;
  background-image: url(../images/placeholder-loading.gif);
}

.singer__num-songs {
  font-size: .7em;
  color: gray;
}

.singers__title {
  font-size: 1.1em;
  font-weight: bold;
}
